<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{info.googleTrackingID}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{info.googleTrackingID}}');

  document.addEventListener("turbolinks:load", event => {
  	if (typeof gtag === "function") {
      gtag("config", "{{ info.googleTrackingID }}", {
        "page_location": "{{request.url}}"
      });
    }
  });
</script>