{% set address = info.address.split(",")%}
<script>
    document.addEventListener("turbolinks:load", event => {
        mapboxgl.accessToken = '{{info.mapboxapi}}';
        var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
        if(document.getElementById("map")!=null){
            mapboxClient.geocoding.forwardGeocode({
                query: '{%if info.address %}{{info.address}}{%else%}Alexander platz, Berlin, Germany{%endif%}',
                autocomplete: false,
                limit: 1
            })
            .send()
            .then(function (response) {
                if (response && response.body && response.body.features && response.body.features.length) {
                    var feature = response.body.features[0];

                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: feature.center,
                        zoom: 13
                    });
                    
                    var popup = new mapboxgl.Popup({ offset: 25 })
                        .setHTML('<p>{% for part in address%}{{part}}<br />{%endfor%}<i class="fa fa-phone"></i><a href="tel:+{{info.phone}}"> +{{info.phone}}</a><br /><i class="fa fa-map-marker"></i><a href="https://maps.google.com/maps?daddr={{info.address}}" target="_blank"> Directions</a></p>')
                    new mapboxgl.Marker({color:'{{info.mapmarkercolor}}'})
                        .setLngLat(feature.center)
                        .setPopup(popup)
                        .addTo(map);
                    map.addControl(new mapboxgl.NavigationControl());
                }
            });
        }
    });
</script>