{% block seoFacebook %}
<!-- Facebook -->
<meta property="og:title" content="{{section.title}}">
<meta property="og:description" content="{{section.text}}">
<meta property="og:image" content="{{section.imgurl}}"> 
<!-- It should be at least 600x315 pixels, but 1200x630 or larger is preferred (up to 5MB). Stay close to a 1.91:1 aspect ratio to avoid cropping. -->
<meta property="og:url" content="{{ request.url }}">
<meta property="og:site_name" content="{{info.title}}"> <!-- Site name-->
<meta property="og:type" content="website" />
{% endblock %}