<!-- Twitter -->
<meta name="twitter:title" content="{{section.title}}">
<meta name="twitter:description" content="{{section.text}}">
<meta name="twitter:image" content="{{section.imgurl}}"><!--  Images for this Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size. -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{info.twitter}}">
<meta name="twitter:creator" content="@{{info.twitter}}">
