{% if info.facebook %}<a href="http://www.facebook.com/{{info.facebook}}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>{% endif %}
{% if info.twitter %}<a href="https://www.twitter.com/{{info.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>{% endif %}
{% if info.instagram %}<a href="https://www.instagram.com/{{info.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>{% endif %}
{% if info.youtube %}<a href="https://www.youtube.com/{{info.youtube}}" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>{% endif %}
{% if info.pinterest %}<a href="https://www.pinterest.com/{{info.pinterest}}" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>{% endif %}
{% if info.linkedin %}<a href="https://www.linkedin.com/{{info.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>{% endif %}
{% if info.googleplus %}<a href="https://www.googleplus.com/{{info.googleplus}}" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>{% endif %}
{% if info.github %}<a href="https://www.github.com/{{info.github}}" target="_blank"><i class="fa fa-github fa-2x"></i></a>{% endif %}